[MESSAGES CONTROL]
disable = C,
          attribute-defined-outside-init,
          redefined-outer-name,

[TYPECHECK]
# List of members which are set dynamically and missed by Pylint inference
# system, and so shouldn't trigger E1101 when accessed.
# ref: https://stackoverflow.com/questions/50319943/pytorch-error-message-torch-has-no-member
generated-members=numpy.*, torch.*

# vim: set filetype=dosini:

# Author: Blurgy <gy@blurgy.xyz>
# Date:   Nov 02 2020, 23:55 [CST]
